/*-- Shekinah Joy Canosa 5075645 Assessment 3--*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  background-image:url('../images/main-background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/*====================================== Font styles ======================================*/
@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/damion/v15/hv-XlzJ3KEUe_YZkZGw2ATE.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBGEe.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ-6K6MmTpA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCFPrEHJA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


h1, h2 {
  font-family: 'Damion', cursive;
  color: #363636;
  text-align: center;
}

.grooming-package {
  font-size: 1.3em;
  font-family: 'Raleway', sans-serif;
  color: #2c3e50; 
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase; 
  letter-spacing: 2px;
}

.service-and-price {
  border-bottom: 3px dotted #ccc;
}

.service-name {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
  color: #2c3e50;
}

.service-price {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #e67e22;
}

#privacyPolicy h2{
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

/*====================================== Custom Buttons ======================================*/
.custom-btn-primary-lg {
  font-size: 15px;
  text-decoration: none;
  background-color: #d4af37;
  color: #363636;
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.custom-btn-primary-lg:hover {
  color: #d4af37;
  border: 2px solid #d4af37;
  background-color: transparent;
}

.custom-btn-primary {
  font-size: 15px;
  border: none;
  text-decoration: none;
  background-color: #d4af37;
  color: #363636;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.custom-btn-primary:hover {
  color: #d4af37;
  border: 2px solid #d4af37;
  background-color: transparent;
}

.custom-btn-side {
  font-size: 15px;
  border: none;
  text-decoration: none;
  background-color: #d4af37;
  color: #363636;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.custom-btn-side:hover {
  color: #d4af37;
  border: 2px solid #d4af37;
  background-color: transparent;
}

.custom-btn-primary-sm {
  background-color: #d4af37; 
  font-size: small;
  color: #363636;
  padding: 9px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-btn-primary-sm:hover {
  color: #d4af37;
  border: 2px solid #d4af37;
  background-color: transparent;
}

.custom-btn-outline-primary-sm {
  font-size: 14px;
  text-decoration: none;
  background-color: #fff;
  color: #363636;
  padding: 3px 20px;
  border: 2px solid #d4af37;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-btn-outline-primary-sm:hover {
  color: #fff;
  background-color: #e2ce75;
  border: 2px solid #e2ce75;
}

.custom-btn {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background-color: #dddddd;
  color: #363636;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.custom-btn:hover {
  color: #363636;
  background-color: #ffffff;
}

/*====================================== Navbar ======================================*/
nav .nav-link::after,
nav .nav-container a::before {
  transition: all .5s;
}
nav .navbar-nav .nav-link:hover {
  color: #c9ac55 !important;
}

nav .nav-link {
  position: relative;
}
nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #c9ac55;
  height: 3px;
}
nav .nav-link:hover::after{
  width:80%;
}
nav .nav-link.active::after {
  width: 80%;
}

/*=============== Google icon menu and close button modification =============== */
.e5cd {
  background-color: transparent;
  border: none;                   
  padding: 10px;                  
  cursor: pointer;               
  transition: all 0.3s ease-in-out; 
}

.e5cd .material-symbols-outlined{
  font-size: 30px;   
  color: #c9ac55;    
}

.e5cd:hover .material-symbols-outlined {
  color: #a07f3f;    
  transform: scale(1.1); 
}

.e5cd:focus {
  outline: none;    
  box-shadow: none;   
}

/*====================================== Background and sizes ======================================*/
#about-section {
  background-image: url('../images/yellow-background.webp');
  background-size: cover;
}

.custom-container {
  width: 600px;
}

#services {
  background-image: url('../images/background\(3\).webp');
  background-repeat: no-repeat;
  background-size: cover;
}

#custom-width {
  width: 40%;
}

.service img{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service img{
  transition: transform 0.4s ease-in-out;
}

.service img:hover {
  transform: scale(1.1);
}

#testimonials {
  background-image: url('../images/background\(5\).webp');
  background-repeat: no-repeat;
  background-size: cover;
}

#testimonialSlider {
  width: 100%; 
  max-width: 750px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#testimonialSlider img {
  border-radius: 5%;
}

#backgroundSection {
  background-image: url('../images/background\(4\).webp');
  background-repeat: no-repeat;
  background-size: cover;
}

#storyCon {
  width: 850px;
}


#dogGroomingCon {
  background-image: url('../images/background\(1\).webp');
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceAndPrice {
  border-bottom: 3px dotted #ccc;
}

#conSec {
  background-image: url('../images/background\(5\).webp');
  background-size: cover;
  
}

#formConSec {
  background-image:url('../images/background\(2\).webp');
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 850px;
}
#formSec {
  background-image:url('../images/yellow-background.webp');
  background-size: cover;
  width: 400px;
}

.img-con {
  border-radius: 15px;
  width: 17rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-con img {
  border-radius: 7px 7px 0px 0px;
  width: 100%;
  height: auto;
  
}

.img-con:hover {
  border: 1px solid #777;
}

.img-con p {
  font-family: 'Pacifico', cursive;
  font-size: 1.0rem;
}

#contactCon {
  width: 800px;
  background-image:url('../images/yellow-background.webp');
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#conDetails {
  background-image:url('../images/background(2).webp');
}

#map {
  width: 100%; 
  height: 100vh; 
  box-sizing: border-box;
}

#map iframe {
  width: 100%; 
  height: 600px; 
  max-width: 1000px; 
  border: 0;
}

#bookingCon {
  background-image: url('../images/background\(2\).webp');
  width: 800px;
}

#bookingDetails {
  background-image: url('../images/yellow-background.webp');
}


#privacyPolicy {
  max-width: 800px;
}


footer {
  background-color: #d4af37;
}

/*====================================== For tablet ======================================*/
@media (max-width: 768px) {
  h1 {
    font-size: 2.5em; 
  }
  h2 {
    font-size: 1.8em; 
  }
  p {
    font-size: 1em; 
  }

  .logo {
    width: 80%;
    height: 80%;
  }

  .custom-btn-primary-lg {
    display: none;
  }

  .custom-btn-primary {
    padding: 10px 20px;
  }

  nav .nav-link::after {
    width: 0%;
  }

  nav .nav-link:hover::after {
    width: 0%;
  }

  nav .nav-link.active::after {
    width: 0%;
  }

  #offcanvasScrolling {
    background-color: rgba(255, 255, 255, 0.438);
    backdrop-filter: blur(15px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  }

  #custom-width {
    width: 50%;
  }

  #voucher {
    width: 70%;
  }

  #testimonialSlider {
    width: 95%;
  }

  #storyCon img {
    width: 50%;    
  }

  #dogImage {   
    width: 50%;
    height: 50%;
  }

  #formConSec {
    width: 80%;
    flex-direction: column;
  }

  #formSec {
    width: 100%;
  }

  #contactCon {
    width: 80%;
    box-sizing: border-box;
    flex-direction: column-reverse;
  }

  .custom-container {
    width: 50%;
  }
}

/*====================================== For mobile ======================================*/
@media (max-width: 480px) {
  h1 {
    font-size: 2.0em;
  }
  h2 {
    font-size: 1.5em; 
  }
  p {
    font-size: 0.875em; 
  }
  #custom-width {
    width: 75%;
  }

  #voucher {
    width: 100%;
  }

  #testimonialSlider {
    width: 80%;
  }

  #testimonialSlider img {
    width: 100%;
    height: 100%;
  }

  #storyCon img {
    margin-top: 50px;
    width: 100%;  
    height: 100%;  
   }

   #eduCon {
    flex-direction: column-reverse;
   }

   #formConSec {
    width: 100%;
  }

  #formSec {
    width: 100%;
  }

  #contactCon {
    width: 100%;
  }

  #bookingCon {
    flex-direction: column-reverse;
    width: 100%;
  }

  .custom-container {
    width: 90%;
  }

  .custom-btn-primary {
    font-size: small;
    padding: 9px 15px;
  }

  #dogImage { 
    width: 100%;
    height: 100%;
  }

  
}









